
:root {
    --background-gray: #303030;
    --background-gray-2: #424242;
    --background-gray-3: #646464;
    --text-white: #dddddd;
    
    --main-color: #F3DCAD;
    --accent-color: #7eccd1;
    --pop-color: #ABA0F2;
    --pop-color-dark: hwb(247 44% 30%);

    --title-font: "Cambria";
    --body-font: "Arial";

    --resume-max-width: 1300px;
}

a:link {
    color: var(--pop-color);
}
a:visited {
    color: var(--pop-color);
}
a:hover{
    color: var(--pop-color-dark);
}

body {
    background-color: var(--background-gray);
    color: var(--text-white);
    font-family: sans-serif;
    font-family: var(--body-font);
    margin: 0px;
}

header {
    height: 200px;
    max-width: var(--resume-max-width);
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-gray-3);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    font-family: serif;
    font-family: var(--title-font);
}

.title_subtext {
    font-size: 20px;
    text-align: center;
    color: var(--main-color);
    font-family: serif;
    font-family: var(--title-font);
}

.two_column_layout {
    display: flex;
    justify-content: center;

    padding-top: 100px;
    padding-bottom: 50px;
    max-width: var(--resume-max-width);
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-gray-2);
}

.main_column {
    display: flex;
    flex-direction: column;

    max-width: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

.resume_info_section {
    padding-bottom: 50px;
}

.resume_section_title {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);

    margin-bottom: 15px;
}

.resume_info_block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume_block_title {
    font-size: 18px;
    color: var(--accent-color);
}

.resume_block_subtext {
    font-size: 14px;
    font-style: italic;
    color: var(--accent-color);
}
